#imageCarousel,
#testimonialCarousel {
    display: flex;
    /* Hide the overflow to only show the current items */
    overflow: hidden;
}

.mycarousel-item {
    /* Do not allow the items to grow or shrink */
    flex: none;
    /* Position relative for inner content alignment */
    position: relative;
    /* Full width for mobile */
    width: 100%;
    /* Adjust the height */
    height: 300px;
    /* Smooth transition for sliding */
    transition: transform 0.4s ease;
}

@media (min-width: 768px) {
    .mycarousel-item {
        width: 33.3333%;
        /* 3 items in a row for larger screens */
    }
}


.mycarousel-item img {
    width: 95%;
    /* Set a fixed height if you want a uniform height for all images */
    height: 100%;
    /* Cover the area, may be cropped */
    object-fit: cover;
    /* Align the image to the bottom to avoid gaps */
    vertical-align: bottom;
    object-position: center;
    border-radius: 25px;
}