body {
    font-family: 'Outfit', sans-serif !important;
}

@media screen and (max-width: 768px){
    ::-webkit-scrollbar {
        -webkit-appearance: none;
    }
}

.biv-color-text {
    color: #4353A3;
}

.wider-letter-spacing {
    letter-spacing: .25rem;
}

.wide-letter-spacing {
    letter-spacing: 0.5rem;
}

.elipses {
    background:
        radial-gradient(circle at 95% 48%, rgba(67, 83, 163, 1) 0%, rgba(67, 83, 163, 0) 23%),
        radial-gradient(circle at 67% 110%, rgba(241, 102, 69, 1) 0%, rgba(67, 83, 163, 0) 29%),
        radial-gradient(circle at 5% 58%, rgba(251, 175, 55, 1) 0%, rgba(67, 83, 163, 0) 28%),
        radial-gradient(circle at 31% 5%, rgba(242, 150, 162, 1) 0%, rgba(67, 83, 163, 0) 23%);
}

/* Add custom CSS for transparent cards with a white border */
.card {
    /* Semi-transparent background */
    background-color: rgba(255, 255, 255, 0.1) !important;
    height: 100% !important;
}

/* This ensures the cards have equal height and width regardless of the content */
.row-equal>div[class*='col-']>.card {
    display: flex;
    flex-direction: column;
}

.card-body {
    flex-grow: 1;
}

#what-is-biv-box {
    background: rgba(220, 220, 220, 0.4);
}

#click-here {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border: 4px solid #f16645;
    border-radius: 10px;
    color: #f16645;
}

#open-cerimony-card {
    background: -webkit-linear-gradient(0deg, #D8B2B6, #785A88);
    opacity: 85%;
}

#inside-days-card {
    background-color: #F16645;
}

#why-participate {
    background-color: #4353A3;
}

#partners {
    background: url("../images/fundo_rosa.png") no-repeat;
    background-size: 100% 100%;
    background-position: 0% 50%;
}

#faqs {
    background: url("../images/fundo_rosa.png") repeat;
    background-position: 0% 50%;
}